
# Directories #
###############
build/
dist/
*.egg-info
.kdev4
.idea
venv
out/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.kdev4
CMakeLists.txt.user*
ftpconfig.json
.atom-dbg.cson
# dataset of audio
ESC-50-master
yamnet.h5
.tox
*.tflite

