
# Directories #
###############
build/
dist/
*.egg-info
.kdev4
.idea

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.kdev4
CMakeLists.txt.user
ftpconfig.json
.atom-dbg.cson
