[Unit]
Description=Broadcast GPS location to zeromq
Requires=gpsd.service

[Service]
Type=simple
ExecStart= /usr/bin/python3.9 -u /home/pi/noisesensor/services/telit/zero_location.py --push_interval 1800 -v --check_ip 194.187.168.100
WorkingDirectory=/home/pi/noisesensor/
Restart=always
RestartSec=5s
User=pi

[Install]
WantedBy=multi-user.target










