<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/status.css"/>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/moment.min.js"></script>
    <script type="text/javascript" src="static/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="static/leaflet/leaflet-color-markers.js"></script>
    <script type="text/javascript" src="static/leaflet/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/forms.css"/>
    <link rel="stylesheet" type="text/css" href="static/leaflet/leaflet.css">
    <link rel="stylesheet" type="text/css" href="static/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/leaflet/L.Control.Locate.min.css">
    <script type="text/javascript" src="static/status.js" defer></script>
</head>
<body>
<div id="mapid" class="mapid"></div>
<script>
</script>
</body>
</html>
