html, body {
    height: 100%;
    margin: 0;
}

#mapid {
    min-height: 100%;
}

h1 {
    text-align: center;
}
.info {
 padding: 6px 8px;
 font: 14px/16px Arial, Helvetica, sans-serif;
 background: white;
 background: rgba(255,255,255,0.8);
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 border-radius: 5px;
}
.info h4 {
 margin: 0 0 5px;
 color: #777;
}
.legend {
 text-align: left;
 line-height: 18px;
 color: #555;
}
.legend i {
 width: 18px;
 height: 18px;
 float: left;
 margin-right: 8px;
 opacity: 0.7;
}
.uptime {
  text-align: center;
  float: center;
}

.top_menu {
  position: relative !important;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ul_top_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li_top_menu {
  float: left;
}

.li_top_menu a {
  display: block;
  color: #555;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li_top_menu a:hover {
  background-color: #eeeeee;
}
